$mainColor = #13d1be
$radius = 5px
$secBlack = #888
$Black = #353535


$danger =#ffc300 
$error =#e52828
$success =#2fc830
    
$button(){
    border-radius $radius 
    background $mainColor
    color: #fff 
}

$textOver(){
    
}
$botmSol(){
    border-bottom 6px solid #eee 
}

$center(){
    display flex
    justify-content center
    align-items  center
}

$showModel(){
    box-sizing border-box
    padding 2em 0
    width 70%
    height 0
    padding-bottom 40%
    border-radius $radius
    background #ffffff 
    text-align center 
    font-size 1.5em
}