$mainColor = #13d1be
$radius = 5px
$secBlack = #888
$Black = #353535
$button(){
    border-radius $radius 
    background $mainColor
    color: #fff 
}

$textOver(){
    
}
$botmSol(){
    border-bottom 6px solid #eee 
}

$center(){
    display flex
    justify-content center
    align-items  center
}